@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  
  --color-brand-primary: #10b981; /* Emerald 500 */
  --color-brand-secondary: #064e3b; /* Emerald 900 */
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans;
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}
